<div id="footer">
  <div id="footer_i">
    <div class="footer_l">
    </div>
    <div class="footer_m">
      <p>南京三略建筑科技有限公司</p>
      <p></p>
      <p>Nanjing Sanlue Building Technology Co.,Ltd | CopyRight 2016-2017 All Rights Reserved.</p>
      <p>苏ICP备17000359号-1</p>
    </div>
    <div class="footer_r">
    </div>
  </div>
</div>
<script type="text/javascript">
if ($(window).width() > 980) {$('#yyf').show();}
$('#fc').bind("click",function(){ $('#yyf').hide();});
$("#fh").bind("click",function(){$('body,html').animate({scrollTop:0},1000); return false; })
</script>
</body>
</html>