@CHARSET "UTF-8";
* { word-wrap: break-word; }
body,div {margin:0;padding:0;}
body,th,td,button,input,select,textarea{font-family:"微软雅黑","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}
body{line-height:1.6}
table{ border-spacing:0; border-collapse:collapse}
h1,h2,h3,h4,h5,h6{font-size:100%;color:#000}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer;color:#333}
a:visited {color: #333;}
a:hover{text-decoration:none;outline:none;color:#38f;}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}

.lf{float:left;}
.lr{float:right;}
.clear{clear:both;}

html {
    width: 100%;
    height: 100%;
    background: url(../img/bg.png) no-repeat center 30px #f3f3f3;
}
body {
    background: url(../img/ft_bg.png) repeat-x center bottom;
}
.wh1000{width:1000px;margin:0 auto;}
.topmenu {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #dfdfdf;
    color: #999;
	background: #FBFBFB;
}
.topmenu a {
    margin: 0 10px;
}
.logo {
    float: left;
    padding: 48px 0 0 24px;
}